#!/usr/bin/env ruby -w

require 'English'
require 'fileutils'

if __FILE__ == $PROGRAM_NAME
	FileUtils.mkdir_p('build')
	FileUtils.cp_r('choices', 'build')
	FileUtils.rm_r('choices')
	
	choices = {
		:readmeext => '{{readmeext}}{{^readmeext}}.rst{{/readmeext}}',
		:license => '{{license}}{{^license}}Apache-2.0{{/license}}',
		:buildtool => '{{buildtool}}{{^buildtool}}dune{{/buildtool}}',
		:testfrwk => '{{testfrwk}}{{^testfrwk}}ounit{{/testfrwk}}',
		:executable => '{{executable}}{{^executable}}no{{/executable}}',
		:ffilib => '{{ffilib}}{{^ffilib}}none{{/ffilib}}'
		}
	nesteddirs = "{{nesteddirs}}{{^nesteddirs}}intro_ml/util{{/nesteddirs}}"
	parent = "{{parent}}{{^parent}}intro_ml{{/parent}}"
	
	FileUtils.cp("build/choices/readme/README#{choices[:readmeext]}", 
		"README#{choices[:readmeext]}")
	if File.exist?('build/choices/_parent_readme')
		FileUtils.cp("build/choices/_parent_readme/README#{choices[:readmeext]}",
			"build/choices/_parent_init/README#{choices[:readmeext]}")
	end
	
	if ['Apache-2.0', 'MIT', 'BSD-3-Clause', 'GPL-3.0+', 'ISC', 'Unlicense'
			].include?(choices[:license])
		FileUtils.cp("build/choices/license/LICENSE_#{choices[:license]}", 'LICENSE')
	end
	
	if File.exist?('build/choices/build_tool') and ['dune', 'oasis', 'ocamlbuild', 'make'].include?(
            choices[:buildtool])
		FileUtils.cp_r("build/choices/build_tool/#{choices[:buildtool]}/.", '.')
	elsif File.exist?('build/choices/build_tool') # default: dune
		FileUtils.cp_r('build/choices/build_tool/dune/.', '.')
	end
	
	if File.exist?('build/choices/testfrwk') and ['ounit'].include?(
			choices[:testfrwk])
		FileUtils.cp_r("build/choices/testfrwk/#{choices[:testfrwk]}/.", ".")
	elsif File.exist?('build/choices/testfrwk') # default: ounit
		FileUtils.cp_r('build/choices/testfrwk/ounit/.', ".")
	end
	
	if File.exist?('src') and not 'yes' == choices[:executable]
		Dir["src/#{parent}/main.*"].each{|p| FileUtils.rm(p)}
	end
	
	if File.exist?('build/choices/ffi_lib') and ['ctypes.foreign', 'swig'].include?(choices[:ffilib])
		FileUtils.cp_r("build/choices/ffi_lib/#{choices[:ffilib]}/.",
			"src/#{parent}/")
	end
	
	if File.exist?('../_templates') and File.directory?('../_templates')
		skeletondir = "{{skeletondir}}{{^skeletondir}}#{ENV['HOME']}/Templates/mustache/skeleton-ml{{/skeletondir}}"
		skel_pardir = File.dirname(skeletondir)
		
		FileUtils.mkdir_p('../_templates/mustache')
		(Dir["#{skel_pardir}/render_mustache.*"]+[skeletondir]).each{|src|
			FileUtils.cp_r(src, '../_templates/mustache/')}
	end
end