(test
	(name ts_main)
	(libraries unix num str ounit2 qcheck {{name}}{{^name}}intro_ml-util{{/name}})
	(ocamlopt_flags -thread -w +a-4 -w -a-27)
	(ocamlc_flags -thread -w +a-4 -w -a-27)
	(deps
		ts_main.exe
		)
	(action
		(run %{test}
			)
		)
	)
